
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.panel-status-menu-box {
    padding-top: 5px;
}

.ip-info-key {
    color: #838A85;
}

.ip-info-value {
}

.map-tile {
    padding-right: 20px;
}

.ip-info-box {
    padding-top: 5px;
}
